body {
    background-color: #E3FDFD;
}
h1{
    color: #71C9CE;
}
h3 {
    color: #71C9CE;
}
hr {
    border-style: none;
    border-top: 10px dotted #A6E3E9;
    height: 5px;
    width: 10%;
}
